{% include 'header.html' %}
<div id="incident-block">
{% for i, j in incidents %}
    <div class="incident">
        <span class="id">{{ i + 1 }} |</span> <span class="message">{{ j }}</span>
    </div>
{% endfor %}
</div>
<form action="/import_syslog" method="GET" id="form">
    <p class='input'><input type="number" name="start" required> Start Incident </p>
    <p class='input'><input type="number" name="end"> End Incident </p>
    <input type="submit" id="submit">
</form>
<div id="response-block">
    text-davinci-003 Response: {{ result }}
</div>
<script>
    const form = document.getElementById("form");
    form.addEventListener("submit", (event) => {
        let startVal = document.forms["form"]["start"].value;
        let endVal = document.forms["form"]["end"].value;
        if (endVal == '' || Number(startVal) > Number(endVal)) {
          alert("Invalid range");
          event.preventDefault();
          return false;
        } else {
          return true;
        }
    });
</script>
<style>
    #incident-block {
        width: auto;
        height: 70vh;
        border: 2px solid #5E81AC;
        box-shadow: 0px 3px 3px #2f3441;
        left: 0px;
        top: 90px;
        margin: 10px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .incident {
        border: 0px solid #CCCCCC;
        background-color: #4C566A;
        color: #ECEFF4;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 5px;
        padding: 10px;
      }
      
    .incident .id {
        font-weight: bold;
    }
    .incident .message {
        margin-top: 5px;
        font-size: 14px;
        line-height: 1.5;
    }
    input[type='number'] {
        width: 50px;
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        padding: 10px;
        width: 200px;
        border: 2px solid #5E81AC;
        box-shadow: 0px 3px 3px #2f3441;
        float: left;
        margin: 10px;
        text-align: left;
    }
    .input {
        margin: 0px;
    }
    #submit {
        width: 100px;
        display: inline;
    }
    #response-block {
        height: 100px;
        padding: 10px;
        border: 2px solid #5E81AC;
        box-shadow: 0px 3px 3px #2f3441;
        float: right;
        width: 80vw;
        margin: 10px;
        text-align: left;
    }
    input {
        margin: 3px;
    }
</style>